body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.color{
    color: orange;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    
}

.half-width-n{
    width: 50%;
    padding-left: 5%;
    margin-top: 5%;
    color: gray;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    padding: 15px 40px;
    background-image: linear-gradient(45deg, orange, red);
    color: white;
    font-weight: 400;
    font-size: 20px;
    border-radius: 15px;

}
.drim{
    background-image: url(images/shapes/Frame\ 59.jpg);
    height: 590px;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.drim-img{
    width: 408px;
    margin-top: 73px;
    margin-left: 80px;
    
}
.half-width-first{
    width: 400px;
    text-align: justify;
    margin-top: 180px;
    margin-left: 260px;
}
.Recipies-list{
   
    margin-top: 40px;
    text-align: center;
    margin-top: 40px;
}
.footer p{
    text-align: justify;
    width: 400px;
    margin-left: 500px;
}
.box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
.card{
    width: 250px;
    text-align: center;
    margin-top: 15px;
    box-shadow: 7px 7px 7px 7px lightgray;
    padding: 10px;
    border-radius: 12px;
    text-align: justify;
}
.card img{
    width: 100%;
    
}

.color-seconde{
    color: orangered;
}
.title-color{
    color: orange;
}
.paragraph-title{
    color: gray;
}

.footer{
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
    margin-top: 40px;
}